/* Write your CSS here */
.home {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
